In [371]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [372]:
df = pd.read_csv("cars.csv")
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [373]:
df["brand"].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Land                6
Force               6
Isuzu               5
Ambassador          4
Kia                 4
MG                  3
Daewoo              3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [374]:
df["brand"].nunique()

32

In [375]:
df.columns

Index(['brand', 'km_driven', 'fuel', 'owner', 'selling_price'], dtype='object')

In [376]:
df["fuel"].nunique()

4

In [377]:
df["owner"].nunique()

5

## From The Pandas

In [378]:
pd.get_dummies(df,columns=["fuel","owner"])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,False,True,False,False,True,False,False,False,False
1,Skoda,120000,370000,False,True,False,False,False,False,True,False,False
2,Honda,140000,158000,False,False,False,True,False,False,False,False,True
3,Hyundai,127000,225000,False,True,False,False,True,False,False,False,False
4,Maruti,120000,130000,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,False,True,True,False,False,False,False
8124,Hyundai,119000,135000,False,True,False,False,False,True,False,False,False
8125,Maruti,120000,382000,False,True,False,False,True,False,False,False,False
8126,Tata,25000,290000,False,True,False,False,True,False,False,False,False
8127,Tata,25000,290000,False,True,False,False,True,False,False,False,False

In [379]:
# droping first

fuel_owner = pd.get_dummies(df,columns=["fuel","owner"],drop_first=True)
fuel_owner.drop(["brand","km_driven"],axis=1,inplace=True)
fuel_owner

,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,450000,True,False,False,False,False,False,False
1,370000,True,False,False,False,True,False,False
2,158000,False,False,True,False,False,False,True
3,225000,True,False,False,False,False,False,False
4,130000,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...
8123,320000,False,False,True,False,False,False,False
8124,135000,True,False,False,True,False,False,False
8125,382000,True,False,False,False,False,False,False
8126,290000,True,False,False,False,False,False,False
8127,290000,True,False,False,False,False,False,False

## From sklearn

In [380]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [381]:
X_train,X_test,y_train,y_test  = train_test_split(df.iloc[:,:4],df.iloc[:,-1],train_size=0.3,random_state=32)

In [382]:
X_train.shape

(2438, 4)

In [383]:
X_train.head()

        brand  km_driven    fuel         owner
2766   Maruti      40000  Petrol   First Owner
7589   Maruti       1000  Petrol   First Owner
5874  Renault      30000  Petrol  Second Owner
3395   Maruti      25000  Petrol   First Owner
6907  Hyundai      70000  Diesel   First Owner

In [384]:
ohe = OneHotEncoder(drop=None)

In [385]:
X_enc_train = ohe.fit_transform(X_train[['fuel','owner']]).toarray()
X_enc_test = ohe.transform(X_test[['fuel','owner']]).toarray()

In [386]:
X_enc_train

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 1., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], shape=(2438, 9))

In [387]:
X_enc_train.shape

(2438, 9)

In [388]:
X_enc_train=np.hstack((X_train[["brand","km_driven"]],X_enc_train))
X_enc_test=np.hstack((X_test[["brand","km_driven"]],X_enc_test))

In [389]:
header = ["brand","km_driven","fuel_1","fuel_2","fuel_3","fuel_4","owner_1","owner_2","owner_3","owner_4","owner_5"]
X_enc_train  = pd.DataFrame(X_enc_train,columns=header)
X_enc_test  = pd.DataFrame(X_enc_test,columns=header)

In [390]:
X_enc_train

,brand,km_driven,fuel_1,fuel_2,fuel_3,fuel_4,owner_1,owner_2,owner_3,owner_4,owner_5
0,Maruti,40000,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
1,Maruti,1000,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
2,Renault,30000,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,Maruti,25000,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
4,Hyundai,70000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2433,Maruti,15000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2434,Mahindra,50000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2435,Maruti,130000,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2436,Maruti,50000,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2437,Hyundai,50000,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

In [391]:
X_enc_test

,brand,km_driven,fuel_1,fuel_2,fuel_3,fuel_4,owner_1,owner_2,owner_3,owner_4,owner_5
0,Datsun,20000,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
1,Maruti,72000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,Honda,24857,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,Hyundai,56000,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
4,Honda,110000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
5685,Hyundai,65000,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
5686,Mahindra,150000,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5687,Honda,22000,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
5688,Mahindra,16500,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
5689,Maruti,30000,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

## without doing this all tantrums

In [392]:
ohe = OneHotEncoder(drop="first",sparse_output=False,dtype=np.int32)

X_enc_train_1 = ohe.fit_transform(X_train[["fuel","owner"]])
X_enc_test_1 = ohe.transform(X_test[["fuel","owner"]])

In [393]:
X_enc_train_1=np.hstack((X_train[["brand","km_driven"]],X_enc_train_1))
X_enc_test_1=np.hstack((X_test[["brand","km_driven"]],X_enc_test_1))

In [394]:
headers = ["brand","km_driven","fuel_2","fuel_3","fuel_4","owner_2","owner_3","owner_4","owner_5"]
X_enc_train_1 = pd.DataFrame(X_enc_train_1,columns=headers)
X_enc_test_1 = pd.DataFrame(X_enc_test_1,columns=headers)

In [395]:
X_enc_train_1

         brand km_driven fuel_2 fuel_3 fuel_4 owner_2 owner_3 owner_4 owner_5
0       Maruti     40000      0      0      1       0       0       0       0
1       Maruti      1000      0      0      1       0       0       0       0
2      Renault     30000      0      0      1       0       1       0       0
3       Maruti     25000      0      0      1       0       0       0       0
4      Hyundai     70000      1      0      0       0       0       0       0
...        ...       ...    ...    ...    ...     ...     ...     ...     ...
2433    Maruti     15000      1      0      0       0       0       0       0
2434  Mahindra     50000      1      0      0       0       0       0       0
2435    Maruti    130000      0      0      1       0       1       0       0
2436    Maruti     50000      1      0      0       0       1       0       0
2437   Hyundai     50000      0      0      1       0       0       0       0

[2438 rows x 9 columns]

In [396]:
X_enc_test_1

         brand km_driven fuel_2 fuel_3 fuel_4 owner_2 owner_3 owner_4 owner_5
0       Datsun     20000      0      0      1       0       0       0       0
1       Maruti     72000      1      0      0       0       0       0       0
2        Honda     24857      0      0      1       0       0       1       0
3      Hyundai     56000      0      0      1       0       0       0       0
4        Honda    110000      0      0      1       0       0       0       1
...        ...       ...    ...    ...    ...     ...     ...     ...     ...
5685   Hyundai     65000      0      0      1       0       1       0       0
5686  Mahindra    150000      1      0      0       0       1       0       0
5687     Honda     22000      0      0      1       0       0       0       0
5688  Mahindra     16500      0      0      1       0       0       0       0
5689    Maruti     30000      0      0      1       0       0       0       0

[5690 rows x 9 columns]

In [397]:
X_enc = np.vstack((X_enc_test_1,X_enc_train_1))

In [398]:
X_enc = pd.DataFrame(X_enc,columns=headers)

In [399]:
X_enc.shape

(8128, 9)

In [400]:
count = X_enc["brand"].value_counts()
threshold = 100

In [401]:
repl = count[count <= threshold].index

In [402]:
brands = pd.get_dummies(X_enc["brand"].replace(repl,"Expensive"),drop_first=True)

In [403]:
brands.columns

Index(['Chevrolet', 'Expensive', 'Ford', 'Honda', 'Hyundai', 'Mahindra',
       'Maruti', 'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen'],
      dtype='object')

In [404]:
X_enc.drop("brand",axis=1,inplace=True)

In [405]:
X_enc = pd.concat([X_enc,brands],axis=1)

In [406]:
X_enc = X_enc[["km_driven",'Chevrolet', 'Expensive', 'Ford', 'Honda', 'Hyundai', 'Mahindra','Maruti', 'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen']]

In [407]:
X_enc = pd.concat([X_enc,fuel_owner],axis=1)
X_enc

,km_driven,Chevrolet,Expensive,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,...,Toyota,Volkswagen,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,20000,False,True,False,False,False,False,False,False,False,...,False,False,450000,True,False,False,False,False,False,False
1,72000,False,False,False,False,False,False,True,False,False,...,False,False,370000,True,False,False,False,True,False,False
2,24857,False,False,False,True,False,False,False,False,False,...,False,False,158000,False,False,True,False,False,False,True
3,56000,False,False,False,False,True,False,False,False,False,...,False,False,225000,True,False,False,False,False,False,False
4,110000,False,False,False,True,False,False,False,False,False,...,False,False,130000,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,15000,False,False,False,False,False,False,True,False,False,...,False,False,320000,False,False,True,False,False,False,False
8124,50000,False,False,False,False,False,True,False,False,False,...,False,False,135000,True,False,False,True,False,False,False
8125,130000,False,False,False,False,False,False,True,False,False,...,False,False,382000,True,False,False,False,False,False,False
8126,50000,False,False,False,False,False,False,True,False,False,...,False,False,290000,True,False,False,False,False,False,False
8127,50000,False,False,False,False,True,False,False,False,False,...,False,False,290000,True,False,False,False,False,False,False

In [408]:
X_enc.to_csv("Encoded_cars_data.csv")