In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = pd.read_csv("placement.csv")
df.head()

   cgpa  placement_exam_marks  placed
0  7.19                  26.0       1
1  7.46                  38.0       1
2  7.54                  40.0       1
3  6.42                   8.0       1
4  7.23                  17.0       0

In [11]:
print("The Outlier of CGPA is ",np.round(df["cgpa"].mean() + 3*df["cgpa"].std(),2),"and",np.round(df["cgpa"].mean() - 3*df["cgpa"].std(),2))

The Outlier of CGPA is  8.81 and 5.11

In [12]:
print("The Outlier of Exam is ",np.round(df["placement_exam_marks"].mean() + 3*df["placement_exam_marks"].std(),2),"and",np.round(df["placement_exam_marks"].mean() - 3*df["placement_exam_marks"].std(),2))

The Outlier of Exam is  89.62 and -25.17

In [14]:
df["Z-Score-cgpa"] = (df["cgpa"] - df["cgpa"].mean())/df["cgpa"].std()

In [15]:
df

     cgpa  placement_exam_marks  placed  Z-Score-cgpa
0    7.19                  26.0       1      0.371425
1    7.46                  38.0       1      0.809810
2    7.54                  40.0       1      0.939701
3    6.42                   8.0       1     -0.878782
4    7.23                  17.0       0      0.436371
..    ...                   ...     ...           ...
995  8.87                  44.0       1      3.099150
996  9.12                  65.0       1      3.505062
997  4.89                  34.0       0     -3.362960
998  8.62                  46.0       1      2.693239
999  4.90                  10.0       1     -3.346724

[1000 rows x 4 columns]

In [25]:
df[df["Z-Score-cgpa"]>3]  
df[df["Z-Score-cgpa"]<-3]

     cgpa  placement_exam_marks  placed  Z-Score-cgpa
485  4.92                  44.0       1     -3.314251
997  4.89                  34.0       0     -3.362960
999  4.90                  10.0       1     -3.346724

In [27]:
upper_limit = np.round(df["cgpa"].mean() + 3*df["cgpa"].std(),2)
lower_limit = np.round(df["cgpa"].mean() - 3*df["cgpa"].std(),2)

In [29]:
new_df = np.where(df["cgpa"]>upper_limit,upper_limit,np.where(df["cgpa"]<lower_limit,lower_limit,df["cgpa"]))

In [31]:
df["n"] = new_df

In [35]:
df["n"].describe()

count    1000.000000
mean        6.961490
std         0.612727
min         5.110000
25%         6.550000
50%         6.960000
75%         7.370000
max         8.810000
Name: n, dtype: float64