## Import Necessary Libraries

In [307]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Read The File

In [308]:
df = pd.read_csv("house_data.csv")
df.head(),df.shape

(           id             date     price  bedrooms  bathrooms  sqft_living  \
 0  7129300520  20141013T000000  221900.0         3       1.00         1180
 1  6414100192  20141209T000000  538000.0         3       2.25         2570
 2  5631500400  20150225T000000  180000.0         2       1.00          770
 3  2487200875  20141209T000000  604000.0         4       3.00         1960
 4  1954400510  20150218T000000  510000.0         3       2.00         1680

    sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
 0      5650     1.0           0     0  ...      7        1180              0
 1      7242     2.0           0     0  ...      7        2170            400
 2     10000     1.0           0     0  ...      6         770              0
 3      5000     1.0           0     0  ...      7        1050            910
 4      8080     1.0           0     0  ...      8        1680              0

    yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
 0      1955             0    98178  47.5112 -122.257           1340
 1      1951          1991    98125  47.7210 -122.319           1690
 2      1933             0    98028  47.7379 -122.233           2720
 3      1965             0    98136  47.5208 -122.393           1360
 4      1987             0    98074  47.6168 -122.045           1800

    sqft_lot15
 0        5650
 1        7639
 2        8062
 3        5000
 4        7503

 [5 rows x 21 columns],
 (21613, 21))

##Checking for Null Values

In [309]:
df.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

## As Some of the Values are Most of the time same or You can say Repeating so they don't Contribute to the price as much

In [310]:
df.drop(["waterfront","view","condition","yr_renovated","zipcode","lat","long","yr_built","grade","date"],axis=1,inplace=True)
df

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement,sqft_living15,sqft_lot15
0,7129300520,221900.0,3,1.00,1180,5650,1.0,1180,0,1340,5650
1,6414100192,538000.0,3,2.25,2570,7242,2.0,2170,400,1690,7639
2,5631500400,180000.0,2,1.00,770,10000,1.0,770,0,2720,8062
3,2487200875,604000.0,4,3.00,1960,5000,1.0,1050,910,1360,5000
4,1954400510,510000.0,3,2.00,1680,8080,1.0,1680,0,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,360000.0,3,2.50,1530,1131,3.0,1530,0,1530,1509
21609,6600060120,400000.0,4,2.50,2310,5813,2.0,2310,0,1830,7200
21610,1523300141,402101.0,2,0.75,1020,1350,2.0,1020,0,1020,2007
21611,291310100,400000.0,3,2.50,1600,2388,2.0,1600,0,1410,1287
21612,1523300157,325000.0,2,0.75,1020,1076,2.0,1020,0,1020,1357

In [311]:
X = df.drop(["price"],axis=1)
y = df["price"]

In [312]:
X.shape,y.shape

((21613, 10), (21613,))

## Splitting the Data in Train and Test

In [313]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(X,y,train_size=0.25,random_state=42)

x_train.shape,x_test.shape,y_train.shape,y_test.shape

((5403, 10), (16210, 10), (5403,), (16210,))

## Using the Multiple Linear regression here with the Closed form solution here OLS (Ordinary Least Square)

In [314]:
class Multi_ols:
    def __init__(self):
        
        self.w = None

    def train(self,X_train,y_train):
        X_train =  np.insert(X_train,0,1,axis=1)

        self.w = np.ones((X_train.shape[1]))
        self.w = np.linalg.pinv(X_train.T@X_train)@X_train.T@y_train
        return self.w


    def test(self,X_test):
        y_pred = X_test@self.w[1:]
        return y_pred

In [315]:
mols = Multi_ols()

w = mols.train(x_train,y_train)
y_pred = mols.test(x_test)
w.shape

(11,)

# Model Evaluation

In [316]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test,y_pred)
adj_r2 = 1 - (((1-r2)*(1620-1))/(16210-1-1))

In [317]:
print(f"The adjusted r2 score for the model is {adj_r2}")

The adjusted r2 score for the model is 0.9497858899933105